// StarRatingSystem - default style
// To set custom style, go to the section at the end of document

// vars
$starColor: #e95d4f;
$starEmptyColor: #cccccc;

@mixin clearfix {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

//=== Default Style ==========================================
//============================================================
[data-srs-module="main"] {
	position: relative;
	width: 200px;

	&:before {
		background-color: $starEmptyColor;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.srs-star-container {
		@include clearfix;
		position: relative;
		width: 100%;
		z-index: 1;
	}

	.single-star {
		background: none;
		border: none;
		cursor: pointer;
		display: block;
		float: left;
		padding: 0;
		width: 20%;

		&:focus, &:active {
			outline: none;
		}

		img {
			display: block;
			width: 100%;
		}
	}

	.srs-background-score {
		background-color: $starColor;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transition: width 0.333s ease;
		z-index: 0;
	}


}